<?xml version="1.0" encoding="utf-8"?>
<configuration>

<configSections>
      <section name="emailParameters" type="System.Configuration.NameValueSectionHandler,System" />
      <section name="kiwiConfigParameters" type="System.Configuration.NameValueSectionHandler,System" />
      <section name="kiwiUrlParameters" type="System.Configuration.NameValueSectionHandler,System" />
</configSections>

    <emailParameters configSource="email.config">
    </emailParameters>

    <kiwiConfigParameters>
      <add key="base_url" value="https://api.skypicker.com/flights"/>
    </kiwiConfigParameters>


    <kiwiUrlParameters>
      <add key="fly_from" value="CZ"/>
      <!-- <add key="fly_to" value="TYO,OSA,NGO"/> -->
      <add key="fly_to" value="KIX,NRT,NGO,HND,ITM,AXT,AKJ,CTS,FUK,HKD,GAJ,KOJ,KKJ,OIT,KUH,KMJ,MYJ,HIJ,KMI,OKA,KCZ,SDJ,KIJ,OBO,NGS,TAK,UBJ,WKJ,AGJ,ASJ,AOJ,FUJ,HAC,HNA,FKJ,IZO,IEJ,IKI,ISG,OIM,HSG,KKX,ONJ,KTD,UKB,UEO,FSZ,IWJ,MMJ,MMB,MMD,SHI,MMY,MYE,MBE,SHB,OKJ,OKI,OIR,RBJ,RIS,SDS,SYO,SHM,HTR,FKS,TNE,TRA,TKN,TTJ,TOY,TSJ,OKE,NTQ,KUM,OGN,RNJ,KJP,HIW,KMQ,TKS,MUS,MSJ,NKM,OKD,TJH,YGJ,NJA,OKO,IWO,DNA,ISG,KKJ"/>
      <add key="date_from" value="20/01/2019"/>
      <add key="date_to" value="30/12/2019"/>
      <add key="nights_in_dst_from" value="13"/>
      <add key="nights_in_dst_to" value="15"/>
      <!-- <add key="return_from" value=""/>
      <add key="return_to" value=""/> -->
      <add key="max_fly_duration" value="20"/>
      <add key="flight_typ" value="round"/>
      <add key="adults" value="1"/>
      <add key="children" value="0"/>
      <add key="infants" value="0"/>
      <add key="fly_days" value="[0,1,2,3,4,5,6]"/>
      <add key="fly_days_type" value="departure"/>
      <add key="ret_fly_days" value="[0,1,2,3,4,5,6]"/>
      <add key="ret_fly_days_type" value="departure"/>
      <add key="max_stopovers" value="1"/>
      <add key="locale" value="en"/>
      <add key="curr" value="CZK"/>
      <add key="price_from" value="1"/>
      <add key="price_to" value="19000"/>
      <add key="sort" value="price"/>
      <add key="asc" value="1"/>
      <add key="partner" value="picky"/>
      <add key="partner_market" value="eu"/>
      <add key="v" value="3"/>
    </kiwiUrlParameters>
    
  <appSettings>
    <add key="key1" value="value1"/>
  </appSettings>
 
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

</configuration>
